
  textarea {
    height:auto;
    max-width:600px;
    color:#999;
    font-weight:400;
    font-size:30px;
    font-family:'Ubuntu', Helvetica, Arial, sans-serif;
    width:80%;
    background:#fff;
    border-radius:3px;
    line-height:2em;
    border:none;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
    padding:30px;
    -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
  }

  input{
    background: rgba(214, 214, 214, 0);
 
    border-color: #8B3AE8;
    border-color: -moz-linear-gradient(45deg, #8B3AE8 0%, #E00B45 100%, #C59237 100%);
    border-color: -webkit-linear-gradient(45deg, #8B3AE8 0%, #E00B45 100%, #C59237 100%);
    border-color: linear-gradient(45deg, #8B3AE8 0%, #E00B45 100%, #C59237 100%);

    border-width: 4px;
    border-radius: 6px;
    display: inline-block;
    }

    li {
      list-style: none;

    }
  
  * {
    -webkit-font-smoothing:antialiased !important;
  }
  
  